.db-container {
  display: flex;
  flex-direction: row;
  margin:10px auto;
  height: 97vh;
  width: 90%;
  border: 1px solid brown;
}
.db-sidebar-section {
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  background-color: rgb(5, 147, 121);
  width: 25%;
}
.db-sidebar-section img {
  margin:5px auto;
}
.search-icon {
  display: flex;
  margin-top: 22px;
  padding:auto;
  justify-content: center;
}
.input-Box {
  height: 35px;
  padding:5px;
  width: 80%;
  border: 1px solid brown;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}
.icons {
  font-size: 35px;
  color: white;
  background-color: brown;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.database-section {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  width: 75%;
}

.detail-member-btn {
  display: flex;
  flex-direction: row;
  padding:10px;
}

.detail-member-btn button{
  height: 38px;
  width: 71px;
  margin-right:10px;
  background-color: rgb(5, 147, 121);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}


.db-section1 {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  height:100%;
  padding:5px 10px;
}

