* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.main-container {
  display: flex;
}

.Sidebar {
  background: #01031c;

  color: white;
  height: 281vh;
  position: fixed;
  /* position: static; */
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.website-name {
  font-size: 18px;
  line-height: 1;
  background-color: #a45959;
  border-radius: 5px;
  padding: 5px;
  box-shadow: #354a35 -4px -4px;
}


.icon {
  font-size: 25px;
}


.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 11px 10px;
  text-decoration: none;
}

.link_text {
  font-size: 20px;
}

.link:hover {
  border-right: 4px solid #a45959;
  /* transition: 0.2ms cubic-bezier(0.6,-0.28, 0.735, 0.045); */
  background-color: #fdff78;
  color:black;
  transition-duration: 0.2s;
}

.active {
  border-right: 4px solid #a45959;
  color:black;
  background-color: #fdff78;
}

.bars {
  cursor: pointer;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0px 4px;
  margin-left: -10px;
}

.register {
  margin-left: 0%;
  width: 55%;
  height: 110%;

  box-shadow: -7px 2px 28px -15px rgb(41 39 64);
}

.register h1 {
  margin-left: 30%;
  color: #3549f6;
}

.SignupBox {
  display: block;
  padding: 10px;
  width: 70%;
  margin: 22px;

  border-radius: 5px;
  border-color: skyblue;
}

.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 87%;
  margin-left: 30%;
  height: 330px;
  margin-top: 20%;
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #3549f6;
  width: 52%;
  height: 110%;

  box-shadow: -7px 2px 28px -15px rgb(41 39 64);
}

.btn5 {
  display: block;
  width: 79%;
  padding: 10px;
  margin-left: 21px;
  border-radius: 5px;
  margin-top: 44px;
  background-color: #3549f6;
  color: white;
}

.title1 {
  font-family: "Abril Fatface", cursive;
  display: flex;
  text-align: center;

  margin-top: -18%;
}

.h-11 {
  background-color: white;
  width: 60px;
  height: 41px;
  padding-right: 15px;
  color: white;
  background-color: black;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 18%;
  box-shadow: lightgreen -5px -5px;
}

.h-2 {
  background-color: white;
  height: 41px;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 5px;

  box-shadow: lightgreen -5px -5px;
}

.welcome p {
  color: white;
  /* margin-left: 10px; */
}

.form-container {
  display: flex;
  margin-left: 500px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h1 {
  padding: 25px;
}

.inputbox {
  margin: 5px;
  padding: 10px;
  width: 300px;
  margin-left: 19px;
  border: 1px solid #05040496;
  border-radius: 5px;
}
